/* checkbox, checkbox animation */
input[type=checkbox]{  
    display: none;
}

section label {
	cursor: pointer;
	width: 40px;
	height: 25px;
	background: #393e46;
	display: block;
	border-radius: 100px;
	position: relative;
}

section label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: white;
	border-radius: 90px;
	transition: 0.3s;
}

section input:checked + label {
	background: #bada55;
}

section input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

section label:active:after {
	width: 15px;
}


/* delete button */
.delete {
	width:25px;
	height: 25px;
    background-color: #a6a9b6;
    border: none;
    color:#fff;
    padding: 5px 0;
    display: inline-block;
    font-size: 15px;
	cursor: pointer;
	border-radius: 50%;
}

.delete:hover{
	cursor: pointer;
	background-color: #d35d6e;
}

.delete:focus{
	outline: none;
}
