/* font-family: 'Andika New Basic', sans-serif;
font-family: 'Jua', sans-serif; */

*{
    margin: 0;
}

/* BODY */
body{
    height: 100vh;
}

/* HEADER */
header{
    background: linear-gradient(#ffda77, #ffa45b);
    height: 20%;
    position: relative;
    
}

header p{
    position: absolute;
    top: 65%;
    left: 4%;
    font-size: 30px;
    color: #393e46;
    font-family: 'Jua', sans-serif;
}

/* SECTION */
section{
    height: 73%;
}

section p{
    padding: 0px 10px 0px 10px;
}

section #list{
    padding: 0;
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    width: 92%;
}

section #list .item{
    margin-top: 10px;
    display: flex;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Andika New Basic', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* FOOTER */
form{
    height: 7%;
    position: relative;
}

form #input_todo{
    position: absolute;
    border: none;
    top: 25%;
    left: 1%;
    width: 95%;
    height: 50%;
    outline: none;
}

form .bottom{
    position: absolute;
    border-bottom: 3px solid #f8f1f1;
    width: 97%;
    bottom: 15px;
    left: 1%;
}

form .bottom::after{
    content: '';
    position: absolute;
    border-bottom: 3px solid #393e46;
    width: 0%;
    bottom: -3px;
    left: 0%;
    transition: all 0.4s ease;
}

form #input_todo:focus + .bottom::after{
    width: 100%;
}